.addToCart {

margin-left: 20px;
padding: 10px;
}

h1 {

  text-align: center;
}

img {

margin: 20px;
}



.navLinks {
  width: 50%;
  display: flex;
  justify-content: left;
  
  list-style: none;
  

}

.boot{
  background: blue;
}
